<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <meta name="description" content="This green site cover all the aspects of a green project. Find out what steps you need to develop a green project!"/>
        <title>PubSub System</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="static/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>
        <div class="container">
            <h1 role="heading" class="center-item">PubSub System</h1>
            <hr>

            <table class="table table-dark table-striped" border="1">
                <tr align="center">
                  <th style="width: 50px;">#</th>
                  <th>Public ID</th>
                  <th style="width: 250px;">Action</th>
                </tr>

                {% for counter in range(total_ids) %}
                <tr>
                  <td>#{{ counter+1 }}</td>
                  <td class="public_id">{{lines[counter]}}</td>
                  <td align="center"><input class="btn btn-primary view_message" value="View Message"/></td>
                </tr>
                {% endfor %}
            </table>
            
        </div>  

        <button class="btn btn-danger btn-fab" type="button"><i class="fa-solid fa-pencil"></i></button>

        <div class="modal" tabindex="-1" id="myModal">
          <div class="modal-dialog" id="myModal">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p id="decrepted_message"></p>
                <form id="new_message_form">
                  <div class="mb-3">
                    <textarea class="form-control" id="new_message" placeholder="Write your message here"></textarea>
                    <button type="button" class="btn btn-success" id="send_message" style="margin-top: 10px;">Send</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="static/main.js"></script>
    </body>


</html>

